---
import Libreryicon from "../Icon/Library.astro";
import HomeIcon from "../Icon/Home.astro";
import SearchIcon from "../Icon/Search.astro";
import SideMenuItem from "../components/SideMenuItem.astro";
import { playlists } from "../lib/data";
import SideMenuCard from "../components/SideMenuCard.astro";
---

<nav class="flex flex-col flex-1 gap-2">
  <div class="rounded-lg p-2 bg-[rgb(12,12,12)]">
    <ul>
      <SideMenuItem href="/">
        <HomeIcon />
        Inicio
      </SideMenuItem>
      <SideMenuItem href="/#">
        <SearchIcon />
        Buscar
      </SideMenuItem>
    </ul>
  </div>

  <div class="rounded-lg p-2 flex-1 bg-[rgb(12,12,12)]">
    <ul>
      <SideMenuItem href="/">
        <Libreryicon />
        Tu Biblioteca
      </SideMenuItem>

      {playlists.map((playlist) => <SideMenuCard playlist={playlist} />)}
    </ul>
  </div>
</nav>
